body {
    font-family: sans-serif;
}

.paragraph{
    border: solid lightblue 5px;
    margin:0 0 40px 0;
}

body {
    font-family: sans-serif;
}
.hobbies{
    border:dotted red 5px;
}



body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

